spring:
  application:
    name: client


logging:
  pattern:
    console: "%d %-5level %logger : %msg%n"
  level:
    root: ERROR
    org.springframework: WARN
    com.fred4jupiter.feignexample.client: DEBUG